.tags-list {
  display: inline;
  list-style-type: none;
}

.tags-item {
  display: inline-block;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 3px;
  border: 1px solid #428bca;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.tags-item a {
  color: #000000;
}
